@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.webSite {
  width: 100vw;
  height: 100vh;
  max-width: 80rem;
  position: absolute;
  top: 0;
}

.container-web-site {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: black;
  flex-direction: column;
}

.container-title {
  z-index: 1;
  color: white;
  text-align: center;
}

.title {
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;

}



.social-media {
  width: 4rem;
  filter: invert(1);
  margin: 7rem 1rem;
}

.container-social-media {
  z-index: 1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }

  img.social-media {
    width: 2rem;
    filter: invert(1);
    margin: 1rem 0;
  }

  .container-social-media {
    flex-direction: column;
    display: flex;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .webSite {
    max-height: 36rem;
    top: auto;
  }

  .container-web-site {
    height: 100vh
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Estilos para la imagen de escritorio */
.webSite {
  display: block;
  /* Por defecto, se mostrará en escritorio */
}

/* Estilos para la imagen en dispositivos móviles */
.webSite-mobile {
  display: none;
  /* Por defecto, oculta la imagen en móviles */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .webSite {
    display: none;
    /* Oculta la imagen de escritorio en móviles */
  }

  .webSite-mobile {
    display: block;
    width: 100%;
    position: absolute;
  }
}